

/* common shared styles*/
body{font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;}

.text-primary{color: #FD6E0A;}

.btn-primary{
border-radius: 5px;
background: #FD6E0A;

font-weight: 700;
color: var(--White-Color, #FFF);
font-style: normal;
font-size: 15px;
border: 0;
padding: 15px 20px;


}

    /* nav related styles */
nav{ display: flex;
justify-content: space-between;
align-items: center;
margin: 0 200px;

}

.nav-title{color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800; }

nav >ul{display: flex;
align-items: center;
}

nav li {
list-style: none;
margin-right: 50px;
}
nav a{
text-decoration:none;
color:#474747 ;

}
/*header related styles */
.header{
background-color: #FFF8F3;
align-items: center;

}

.banner{
padding: 30px 30px 30px 150px;
display: flex;
}

.banner.profile-pic{  width: 500px;
}